/* ! Global Css Rule */
:root {
  --background-color: #162237;
  --text-color: #bfc3c8;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.774);
  font-family: sans-serif;
  transition: all linear 0.3s;
}
a:hover {
  text-decoration: underline;
  color: white;
}
.hidden {
  opacity: 0;
  /* display: none; */
  transition: linear 0.5s;
}
.content {
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}
.left-top {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-bottom {
  color: white;
  font-family: sans-serif;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

.animate-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ! Header Css Rule */
header {
  opacity: 0.5;
  transition: all linear 0.3s;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-evenly;
  left: 25vw;
  border-radius: 0px 0px 20px 20px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
header:hover {
  opacity: 1;
}
/* ! Home / Landing screen Css Rule */
#home {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5rem;
  color: rgba(240, 248, 255, 0.637);
  transition: linear 0.5s;
}

video.bg_home {
  position: absolute;
  min-width: 100vw;
  height: 100vh;
  object-fit: cover; /* Agar video menyesuaikan dengan ukuran div */
  z-index: -1; /* Video di belakang konten */
}

.judul {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.judul h1 {
  text-align: center;
}

/* ! Detail / Seccond Content Rule */
.mediaImgSelengkapnya {
  height: 60vh;
  width: 40vw;
  background: url(../img/index/bg.png);
  background-size: cover;
  background-position: center;
}
.c2 .right-bottom {
  margin-top: -5%;
}
.c2 .right-bottom p {
  font-size: larger;
  width: 40vw;
  text-align: justify;
}
.button {
  background-color: transparent;
  border: 2px solid #bfc3c8;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all linear 0.3s;
}

.button:hover {
  box-shadow: 0 0 10px #bfc3c8;
  border: 2px solid #bfc3c8;
  background-color: rgba(255, 255, 255, 0.2);
}

/* ! List / Third Content Rule */
.c3 .left-top .slider {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: pointer;
}
.c3 .left-top .slider.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.slider .wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.slider .wrapper img {
  user-select: none;
  max-height: 48vh;
  pointer-events: none;
}

.slider .wrapper h3 {
  text-align: center;
}

.wrapperRb {
  font-size: large;
  width: 40vw;
}

/* !  Video / Fourth Content Rule */
.c4 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.video .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.video .wrapper video {
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(245, 222, 179, 0.863);
  transition: all linear 0.3s;
}
.video .wrapper video:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.863);
}
.video .wrapper h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.video .wrapper p {
  color: #bfc3c8;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
  width: 40vw;
}

/* !  Table / Fifth Content Rule */
